@{
    ViewBag.Title = "Home Page";
}
@{
    List<nextcars.domain.Manufacture> manufacture = (List<nextcars.domain.Manufacture>)Session["Manufacture"];
    List<nextcars.domain.BodyType> bodytype = (List<nextcars.domain.BodyType>)Session["BodyType"];
    List<nextcars.domain.Fuel> fuel = (List<nextcars.domain.Fuel>)Session["Fuel"];
    List<nextcars.domain.Hotlaunch> hotLaunch = (List<nextcars.domain.Hotlaunch>)Session["HotLaunch"];
    int i = 0;
}
<!--_______________________________________ Carousel__________________________________ -->
<div class="allcontain">
    <div id="carousel-up" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner " role="listbox">
            @foreach (var item in hotLaunch)
            {
                if (i == 0)
                {
                    <div class="item active">
                        <img src="~/Content/HotLaunch/@item.hlImage" alt="oldcar">
                        <div class="carousel-caption">
                            <h2>@item.hlName</h2>
                            <p>
                                @item.hlDescription
                            </p>
                        </div>
                    </div>
                }
                else
                {
                    <div class="item">
                        <img src="~/Content/HotLaunch/@item.hlImage" alt="oldcar">
                        <div class="carousel-caption">
                            <h2>@item.hlName</h2>
                            <p>
                                @item.hlDescription
                            </p>
                        </div>
                    </div>
                }

                @(i++)
            }            
            @*<div class="item">
                <img src="~/Content/image/benz.jpg" alt="benz">
                <div class="carousel-caption">
                    <h2>Car</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur ,<br>
                        sed do eiusmod tempor incididunt ut labore
                    </p>
                </div>
            </div>*@
        </div>
        <nav class="navbar navbar-default midle-nav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed textcostume" data-toggle="collapse" data-target="#navbarmidle" aria-expanded="false">
                    <h1>Find My CAR</h1>
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarmidle">
                <div class="searchtxt">
                    <h1>Find My CAR</h1>
                </div>
                <form class="navbar-form navbar-left searchformmargin" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control searchform" placeholder="Enter Keyword">
                    </div>
                </form>
                <ul class="nav navbar-nav navbarborder">
                    <li class="li-category">
                        <a class="btn  dropdown-toggle btn-costume" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">BRAND<span class="glyphicon glyphicon-chevron-down downicon"></span></a>
                        <ul class="dropdown-menu" id="mydd">
                            @foreach (var item in manufacture)
                            {
                                <li><a href="#">@item.mfShortName</a></li>
                            }
                        </ul>
                    </li>
                    <li class="li-category">
                        <a class="btn  dropdown-toggle btn-costume" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Body Type<span class="glyphicon glyphicon-chevron-down downicon"></span></a>
                        <ul class="dropdown-menu" id="mydd2">
                            @foreach (var item in bodytype)
                            {
                                <li><a href="#">@item.btName</a></li>
                            }
                        </ul>
                    </li>
                    <li class="li-maxyear">
                        <a class="btn dropdown-toggle btn-costume" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">FUEL<span class="glyphicon glyphicon-chevron-down downicon"></span></a>
                        <ul class="dropdown-menu" id="mydd3">
                            @foreach (var item in fuel)
                            {
                                <li><a href="#">@item.fulName</a></li>
                            }
                        </ul>
                    </li>
                    <li class="li-slideprice">
                        <p>
                            <label class="slidertxt" for="amount">Price </label>
                            <input class="priceslider" type="text" id="amount" readonly="readonly">
                        </p>
                        <div id="slider-range"></div>

                    </li>
                    <li class="li-search"> <button class="searchbutton"><span class="glyphicon glyphicon-search "></span></button></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- ____________________Featured Section ______________________________-->
<div class="allcontain">
    <div class="feturedsection">
        <h1 class="text-center"><span class="bdots">&bullet;</span>F E A T U R E S<span class="carstxt">C A R S</span>&bullet;</h1>
    </div>
    <div class="feturedimage">
        <div class="row firstrow">
            <div class="col-lg-6 costumcol colborder1">
                <div class="row costumrow">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img1colon">
                        <img src="~/Content/image/featurporch.jpg" alt="porsche">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 txt1colon ">
                        <div class="featurecontant">
                            <h1>LOREM IPSUM</h1>
                            <p>
                                "Lorem ipsum dolor sit amet, consectetur ,<br>
                                sed do eiusmod tempor incididunt
                            </p>
                            <h2>Price &euro;</h2>
                            <button id="btnRM" onclick="rmtxt()">READ MORE</button>
                            <div id="readmore">
                                <h1>Car Name</h1>
                                <p>
                                    "Lorem ipsum dolor sit amet, consectetur ,<br>
                                    sed do eiusmod tempor incididunt <br>"Lorem ipsum dolor sit amet, consectetur ,<br>
                                    sed do eiusmod tempor incididunt"Lorem ipsum dolor sit amet, consectetur1 ,
                                    sed do eiusmod tempor incididunt"Lorem ipsum dolor sit amet, consectetur1
                                    sed do eiusmod tempor incididunt"Lorem ipsum dolor sit amet, consectetur1<br>
                                </p>
                                <button id="btnRL">READ LESS</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 costumcol colborder2">
                <div class="row costumrow">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img2colon">
                        <img src="~/Content/image/featurporch1.jpg" alt="porsche1">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 txt1colon ">
                        <div class="featurecontant">
                            <h1>LOREM IPSUM</h1>
                            <p>
                                "Lorem ipsum dolor sit amet, consectetur ,<br>
                                sed do eiusmod tempor incididunt
                            </p>
                            <h2>Price &euro;</h2>
                            <button id="btnRM2">READ MORE</button>
                            <div id="readmore2">
                                <h1>Car Name</h1>
                                <p>
                                    "Lorem ipsum dolor sit amet, consectetur ,<br>
                                    sed do eiusmod tempor incididunt <br>"Lorem ipsum dolor sit amet, consectetur ,<br>
                                    sed do eiusmod tempor incididunt"Lorem ipsum dolor sit amet, consectetur1 ,
                                    sed do eiusmod tempor incididunt"Lorem ipsum dolor sit amet, consectetur1
                                    sed do eiusmod tempor incididunt"Lorem ipsum dolor sit amet, consectetur1<br>
                                </p>
                                <button id="btnRL2">READ LESS</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Action("ShowPopularBrands", "PopularCarBrands")
    <!-- _______________________________News Letter ____________________-->
    <div class="newslettercontent">
        <div class="leftside">
            <img src="~/Content/image/border.png" alt="border">
            <h1>NEWSLETTER</h1>
            <p>
                Subscribe to the NextCars.in mailing list to <br>
                receive updates on new arrivals, special offers <br>
                and other discount information.
            </p>
        </div>
        <div class="rightside">
            <img class="newsimage" src="~/Content/image/newsletter.jpg" alt="newsletter">
            <input type="text" class="form-control" id="subemail" placeholder="EMAIL">
            <button>SUBSCRIBE</button>
        </div>
    </div>
    
</div>